# This file contains values to be provisioned by the user for a specific installation

# a unique name used as a base name for components (cluster, project, namespace,etc...)
# it seems there is a bug in 2022.2.1, so we recommand to use cp4i
my_unique_name=cp4i


# cluster definition
# use either classic or vpc
my_cluster_infra=classic
# To see the supported Kubernetes versions including OpenShift, run: ibmcloud ks versions -q --show-version OpenShift
my_oc_version=4.10
# To list available zones, run: ibmcloud ks zone ls --provider (classic|vpc-classic|vpc-gen2) 
my_cluster_zone=par01 # classic
my_cluster_region=eu-de # vpc
# To list available flavors, run: ibmcloud ks flavors -q --zone $my_cluster_zone
my_cluster_flavor_classic=b3c.16x64.300gb # sur classic
my_cluster_flavor_vpc=bx2.16x64 # sur vpc
# To indicate the number of workers (local param)
my_cluster_workers=5

# Name of IBM Cloud ROKS cluster (local param)
# my_ic_cluster_name=${my_unique_name}-${my_cluster_zone}
my_ic_cluster_name=${my_unique_name}-cluster

# Name of project (Namespace) where operators will be installed
my_oc_project=${my_unique_name}
# Switch to install operators on all namespaces (openshift-operators) or ${my_oc_project} Warning use the last one if not on all namespaces
my_oc_operators_project=openshift-operators

# Name of the namespace used for catalogsource
my_oc_cs_ns=openshift-marketplace

# global operator to install (from doc): https://www.ibm.com/docs/en/cloud-paks/cp-integration/2021.4?topic=installing-operators-using-openshift-console
my_cp4i_operator_name=ibm-cp-integration
#my_cp4i_operator_channel=v1.5
my_cp4i_operator_channel=latest

# load specific versions for cp4i
. ${yamldir}versions/cp4i-2021.4

# Name of created objects for the installation
my_op_group=${my_oc_project}-opgrp
my_subscription=${my_cp4i_operator_name}-sub
my_cp_navigator_instance_name=${my_unique_name}-navigator
my_cp_od_instance_name=${my_unique_name}-od
my_cp_ace_dashboard_instance_name=${my_unique_name}-ace-db
my_cp_ace_designer_instance_name=${my_unique_name}-ace-dg
my_cp_apic_instance_name=${my_unique_name}-apic
my_cp_ar_instance_name=${my_unique_name}-ar
my_cp_es_instance_name=${my_unique_name}-es
my_cp_hsts_instance_name=${my_unique_name}-hsts
my_cp_mq_instance_name=${my_unique_name}-mq
my_cp_redis_instance_name=${my_unique_name}-redis

# These two ConfigMaps are used to configure ES metrics
my_cp_es_kafka_metricsConfig_name=${my_unique_name}-es-kafka-metrics
my_cp_es_zookeeper_metricsConfig_name=${my_unique_name}-es-zookeeper-metrics

# set to true/false to install, or not
# I think this is one is not valid anymore: https://www.ibm.com/docs/en/cloud-paks/cp-integration/2022.2?topic=operators-installing-using-openshift-console
my_install_all_with_cp4i_operator=false
my_install_navigator=true
my_install_od=false
my_install_ace_dd=true
my_install_ace_dg=true
my_install_apic=true
my_install_ar=true
my_install_es=true
my_install_hsts=false
my_install_mq=true
my_install_openldap=true

# license file to use
my_aspera_license_file="${privatedir}aspera-license"

# other information for optional components
## LDAP
# namespaces
my_ldap_namespace=ldap
# DN of the administrator for openldap driven by the image default values provided
my_dn_openldap=cn=Manager,dc=example,dc=com
# Name of the organisation to prefix entries in the DIT (Directory Informtion Tree) substituted during installation
my_org_openldap=ibm
# uid of the user who ... substituted during installation
my_developer_uid=dev1

# save json in file apikey.json : ibm cloud api key created from IBM Cloud->Manage->IAM->API Keys
# https://cloud.ibm.com/iam/apikeys
my_ic_apikey=$(jq -r .apikey < "${privatedir}apikey.json")

# save key in file from https://myibm.ibm.com/ -> container software library
# https://myibm.ibm.com/products-services/containerlibrary
my_entitlement_key=$(cat "${privatedir}ibm_container_entitlement_key.txt")
